.DS_Store
*.obj
*.pdb
*.ilk
*.udf
*.pyc
ids.json
**/export/
**/_export/
**/StreamingAssets/AssetBundles/
**/StreamingAssets/AssetBundles.meta
**/XCode_Unity/
**/UserData/
.idea/
.vscode/

PaiLogicParty/Library/

=============== 
Unity generated
===============
Temp/
Library/
PersistentPath/
UserData／

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
*.userprefs.meta
*.csproj
*.pidb
*.suo
*.sln
*.sln.meta
*.user
*.unityproj
*.booproj
